body{
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-repeat: repeat;
    background-color: hsl(257, 40%, 49%) ;
    /* align-items: center; */
}

.grid-container {
    display:flex;
    width: 100%;
    gap: 60px;
    /* align-items: center; */
    justify-content: center;
    /* padding-left: 50px; */
     /* margin-right: 50px;   */
    margin-top: 1rem;
    /* padding: 20,0; */
}

.grid-container h1{
    color: white;
    font-family: Open sans-serif;
}


.Register button {
    /* Your styles here */
    background-color: white; /* White background */
    border: none;
    color: hsl(257, 40%, 49%); /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 67px;
    width: 180px;
}
.Register button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;

}



.first-logo{
    margin-left: 10rem;
    display: inline-block;
}


.About{
    margin-top: 20px;
}

.About p{
    color: white;
    font-family: Open sans-serif;
    font-size: 20px;

}


.socials{
    display:flex;
    width: 30px;
    height: 30px;
    margin-top: 250px;
    margin-left: 20rem;
    gap: 1rem;
}
.socials img {
    filter: brightness(0) invert(1);
}
.socials img:hover{
    fill: hsl(300, 69%, 71%);
    cursor: pointer;

}




.attribution{
    text-align: center;
}








/* Media queries */
@media screen and (max-width: 600px) {
    .grid-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }


    .first-logo{
        display: inline-block;
        /* place-self: ; */
        /* margin: left 3px; */
        
    }

    .socials img{
        display: flex;
        flex-direction: row;
        justify-content: center;
       
    }

.illustration-icon img {
    width: 23rem;
    height: 23rem;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
}




body {
    background-image: url('images/bg-mobile.svg/');
    background-size: cover;
    background-repeat: no-repeat;
    /* Add any other styles specific to mobile view */
}
}



